/* Estilos Globales */

body{
    font-family: 'Montserrat', sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-titulo{
    font-size: 2.5rem;
    text-decoration: underline;
    font-weight: 600;
}

.btn-carrito{
    border-radius: 1rem;
    background-color: black;
  }