/* Adaptable(Responsivo) */

@media screen and (max-width:766px) {
    .navbar-brand{
        display: none;
    }
}

@media screen and (max-width:820px) {
    .navbar-brand{
        display: none;
    }
}
@media screen and (max-width:767px) {
    .c-usuario{
        display: none;
    }
}